body {
    background-color: rgb(231, 186, 137);
    font-family: sans-serif, "Times New Roman";
    text-align: center;
    list-style-position: inside ;
}

h2 {
    color: rgb(47, 58, 215);
}

p {
    color: rgb(8, 2, 14);
}

li {
    color: rgb(13, 94, 96);
}

nav {
    color: blueviolet;
}

.sol-paragraf {
    text-align: left;
}